@import "partials/nav";
@import "partials/main";
@import "partials/footer";
@import "partials/colors";

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: $dark-color;
}

body {
  padding: 0 6rem;
  background: $primary-color;
}
